{% extends "layout.twig" %}

{% block content %}
<div class="d-flex justify-content-center  align-items-center" style="height: 100vh">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">P치gina bloqueada</h1>
      <p class="lead">Esta p치gina requiere autenticaci칩n. Por favor acceso al inicio de la aplicaci칩n.</p>
      <p class="lead">
      <a class="btn btn-primary btn-lg" href="login" role="button">Inicio</a>
    </p>
    </div>
  </div>
</div>

{% endblock %}